{{! RESPONSIVE NAVIGATION }}
<div class="inlinemenu">
  {{#if @blog.logo}}
    <a href="{{@blog.url}}">
      <img class="mobileheader" src="{{@blog.logo}}" alt="{{@blog.title}}">
    </a>
  {{/if}}
  <div class="horizontalnav">
    {{navigation}}
  </div>
  <div class="graybar">
    <div class="left"><i class="fa fa-bars"></i>Navigation</div>
    <div class="right"><i class="fa fa-chevron-down"></i></div>
  </div>
  {{navigation}}
</div>
