<div class="recentposts">
  <div class="recent-container">
    <h4>Recent Posts</h4>
    {{#get "posts" limit="3" page="1" include="tags" filter="id:-{{id}}" as |recents|}}
      {{#foreach recents}}
        <div class="recent-post">
          <a href="{{url}}" class="image" style="background-image: url({{img_url feature_image}});">
          </a>
          <h5 class="title" style="-webkit-box-orient: vertical;">{{title}}</h5>
          <p class="description">{{excerpt}}</p>
          <div class="footer">
            <div class="tag">
              <i class="fal fa-tags"></i>
              {{#tags limit="1" }}<a href="{{url}}">{{name}}</a>{{/tags}}
            </div>
            <a href="{{url}}" class="cta"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      {{/foreach}}
    {{/get}}
  </div>
</div>
