{{!
    POST TEMPLATE
    - Configuration of this file is not required.
}}
{{!< default}}

{{#post}}

  {{> post_feature_header}}

  <div class="container {{post_class}}">

    <div class="titleintro" {{#if feature_image}} style="position:relative; background-image: url({{img_url feature_image}})" {{/if}}>
      <h1>{{{title}}}</h1>
      <span>{{excerpt}}</span>
      <div style=""></div>
    </div>


    {{! WIDGET - RESPONSIVE BLOG INFO }}
    <div class="widget postinfo_widget inline {{post_class}}">
      {{#if @blog.logo}}
        <a href="{{@blog.url}}" class="logo"><img src="https://s3.us-east-2.amazonaws.com/toddzilla/General/ZillaAlt.png" alt="{{@blog.title}}"></a>
      {{/if}}
    </div>

    <div class="postlist">
      {{! POST MAIN }}
      <article class="post standard single">

        <div class="customcontainer">
          {{> sidebar_post}}
          <div class="content">

            <div class="postcontents">
              {{> post_header}}
              <div class="info">
                <div class="left">
                  {{#if author.profile_image}}<img src="{{author.profile_image}}" alt="author" class="minigravatar">{{/if}}
                  <a href="https://twitter.com/ToddRBirchard"> @ToddRBirchard</a>
                </div>
                <div class="right">
                  <a href="#" class="date"><i class="fal fa-clock"></i>{{date format="MMMM Do, YYYY"}}</a>
                  <span class="tags">
                                        <i class="fal fa-tags"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" class="{{name}}">{{name}}</a>
                                        {{/foreach}}
                                    </span>
                  <i class="fal fa-eye"></i><span class="right reading-time"></span>
                </div>
              </div>
              {{content}}
            </div>


            {{> post_footer}}

      </article>
      </div>
      <div style="clear:both"></div>
      {{! WIDGET - RECENT POSTS }}
      {{> widget_recentposts}}
      {{! WIDGET - AUTHOR INFO }}
      {{> widget_author}}
        </div>
    </div>


    {{! RESPONSIVE NAVIGATION }}
    <div class="inlinemenu">
      <div class="graybar">
        <div class="left"><i class="fa fa-bars"></i>Navigation</div>
        <div class="right"><i class="fa fa-chevron-down"></i></div>
      </div>
      {{navigation}}
    </div>

{{/post}}
